<div class="test">
    <div *ngFor="let trai of traiCay; let i = index">
        <li>{{i+1}} {{trai}}</li>
    </div>
    <!-- <table class="table">
        <tr>
            <th>Thu tu</th>
            <th>Ten</th>
            <th>Gia</th>
            <th>Ha Gia</th>
        </tr>
        <tr *ngFor="let trai of traiCay2 ; let i=index">
            <td>{{i+1}}</td>
            <td>{{trai.ten | uppercase }}</td>
            <td>
                <span [ngClass]="{'so-am':trai.gia < 0}">{{trai.gia | currency:"USD":"symbol":"1.2"}}</span>
            </td>
            <td>
                <span *ngIf="trai.hagia==true">Dang ha gia</span>
            </td>
            <td>
                <span >{{trai.hagia | onsale | uppercase}}</span>
            </td>
        </tr>
    </table> -->
    <br>
    <select name="cars" id="cars" (change)="changeCity($event)">
        <option *ngFor="let city of cities" value="{{city.city}}">{{city.city}}</option>
    </select>
    <br> <br>
    <select id="district">
        <option *ngFor="let d of districts" value="{{d}}">{{d}}</option>
    </select>
</div>